<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav.ejs') %>
                <section class="main">
                    <div class="main-left">
                        <h3>Danh Mục</h3>
                        <div class="main-left-item ">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Trang Chủ
                            </a>
                        </div>
                        <div class="main-left-item">
                            <a href="/profile/<%=user._id%>">
                                <i class="fas fa-user"></i>
                                Trang Cá Nhân
                            </a>
                        </div>
                        <div class="main-left-item active">
                            <a href="/admin">
                                <i class="fas fa-user"></i>
                                Quản lí tài khoản
                            </a>
                        </div>
                        <div class="main-left-item notification-bar">
                            <div class="notification-direction">
                                <i class="fas fa-bell"></i>
                                Thông Báo
                            </div>
                            <div class="notification-dropdown">
                                <i class="fas fa-chevron-up"></i>
                                <div class="notification-dropdown-menu">
                                    <div class="faculty-notify notification-dropdown-item">
                                        <i class="fas fa-users"></i>
                                        Theo Đơn Vị
                                    </div>
                                    <div class="all-notify notification-dropdown-item">
                                        <i class="fas fa-bell"></i>
                                        Tất Cả Thông Báo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-center main-faculty-center">
                        <div class="main-center-item admin-btn">
                            <button type="button" class="btn btn-success" data-target="#add-user-modal"
                                data-toggle="modal">Thêm Đơn Vị</button>
                                <button type="button" id="edit-role-btn" class="btn btn-primary" data-target="#edit-role-modal"
                                data-toggle="modal">Chỉ định một đơn vị mới</button>
                        </div>
                        <div class="main-center-item table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center align-middle">#</th>
                                        <th scope="col" class="text-center align-middle">Tên</th>
                                        <th scope="col" class="text-center align-middle">Đơn Vị</th>
                                        <th scope="col" class="text-center align-middle">Email</th>
                                        <th scope="col" class="text-center align-middle">Ảnh</th>
                                        <th scope="col" class="text-center align-middle">Người thêm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (locals.users) { %>
                                        <% users.forEach(function (u, index) { %>
                                            <tr>
                                                <th scope="row" class="text-center align-middle">
                                                    <%= (index + 1) %>
                                                </th>
                                                <td class="align-middle">
                                                    <%= u.name %>
                                                </td>
                                                <td class="align-middle user-faculty">
                                                    <%= u.faculty %>
                                                </td>
                                                <td class="align-middle">
                                                    <%= u.email %>
                                                </td>
                                                <td class="text-center align-middle"><img src="<%= u.avatar %>" alt="">
                                                </td>
                                                <td class="text-center align-middle">
                                                    <%= u.user_created %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <div class="modal fade" id="edit-role-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Chọn một người dùng quản lí đơn vị</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="edit-role-form" method="POST" enctype="multipart/form">
                                    <div class="form-group">
                                        <label for="user-select-list">Danh sách người dùng</label>
                                        <select class="form-control" id="user-select-list" name="email">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="edit-faculty">Đơn vị</label>
                                        <select class="form-control" id="edit-faculty" name="faculty">
                                            <option value="1">Phòng Công tác học sinh sinh viên</option>
                                            <option value="2">Phòng Đại Học</option>
                                            <option value="3">Phòng Sau đại học</option>
                                            <option value="4">Phòng điện toán và máy tính</option>
                                            <option value="5">Phòng khảo thí và kiểm định chất lượng</option>
                                            <option value="6">Phòng tài chính</option>
                                            <option value="7">Trung tâm tin học</option>
                                            <option value="8">Trung tâm đào tạo phát triển xã hội</option>
                                            <option value="9">Trung tâm phát triển Khoa học quản lý và Ứng dụng công
                                                nghệ</option>
                                            <option value="10">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                            <option value="11">Khoa Luật</option>
                                            <option value="12">Trung tâm ngoại ngữ - tin học - bồi dưỡng văn hóa
                                            </option>
                                            <option value="13">Viện chính sách kinh tế và kinh doanh</option>
                                            <option value="14">Khoa Mỹ thuật công nghiệp</option>
                                            <option value="15">Khoa Điện - Điện tử</option>
                                            <option value="16">Khoa Công nghệ thông tin</option>
                                            <option value="17">Khoa Quản trị kinh doanh</option>
                                            <option value="18">Khoa Môi trường và bảo hộ lao động</option>
                                            <option value="19">Khoa Lao động công đoàn</option>
                                            <option value="20">Khoa Tài chính ngân hàng</option>
                                            <option value="21">Khoa giáo dục quốc tế</option>
                                        </select>
                                    </div>                                   
                                    <div class="alert alert-danger error-text" role="alert">
                                        Eror Message
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm Đơn Vị</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="add-user-form" method="POST" enctype="multipart/form">
                                    <div class="form-group">
                                        <label for="name">Tên</label>
                                        <input type="text" class="form-control" name="name" id="name"
                                            placeholder="Nhập tên...">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="Nhập email...">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mật khẩu</label>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Nhập password...">
                                    </div>
                                    <div class="form-group">
                                        <label for="faculty">Đơn vị</label>
                                        <select class="form-control" id="faculty" name="faculty">
                                            <option value="1">Phòng Công tác học sinh sinh viên</option>
                                            <option value="2">Phòng Đại Học</option>
                                            <option value="3">Phòng Sau đại học</option>
                                            <option value="4">Phòng điện toán và máy tính</option>
                                            <option value="5">Phòng khảo thí và kiểm định chất lượng</option>
                                            <option value="6">Phòng tài chính</option>
                                            <option value="7">Trung tâm tin học</option>
                                            <option value="8">Trung tâm đào tạo phát triển xã hội</option>
                                            <option value="9">Trung tâm phát triển Khoa học quản lý và Ứng dụng công
                                                nghệ</option>
                                            <option value="10">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                                            <option value="11">Khoa Luật</option>
                                            <option value="12">Trung tâm ngoại ngữ - tin học - bồi dưỡng văn hóa
                                            </option>
                                            <option value="13">Viện chính sách kinh tế và kinh doanh</option>
                                            <option value="14">Khoa Mỹ thuật công nghiệp</option>
                                            <option value="15">Khoa Điện - Điện tử</option>
                                            <option value="16">Khoa Công nghệ thông tin</option>
                                            <option value="17">Khoa Quản trị kinh doanh</option>
                                            <option value="18">Khoa Môi trường và bảo hộ lao động</option>
                                            <option value="19">Khoa Lao động công đoàn</option>
                                            <option value="20">Khoa Tài chính ngân hàng</option>
                                            <option value="21">Khoa giáo dục quốc tế</option>
                                        </select>
                                    </div>
                                    <div lass="form-group">
                                        <label for="image">Ảnh đại diện</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="image" name="avatar">
                                            <label class="custom-file-label" for="image">Chọn ảnh...</label>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger error-text" role="alert">
                                        Eror Message
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div id="loading">
            <img src="/image/loading.svg" />
        </div>
    </body>
    <script src="/javascripts/main.js"></script>

    </html>