<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/dm1smalbq/image/upload/v1620325529/ImageAdvancedWeb/logo_x6rvrd.jpg">
    <title>Social</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"
        integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig=="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
        integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
        crossorigin="anonymous" />
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>
    <div id="main-wrapper">
        <%- include('./layouts/nav.ejs') %>

            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div id="socketio"></div>
                        <div class="card">
                            <div class="card__body card__body--up">
                                <a href="#">
                                    <img class="mr-2"
                                        src="<%=user.avatar%>"
                                        width="40" height="40">
                                </a>
                                <input type="text" class="form-control thinking" placeholder="Bạn đang nghĩ gì?"
                                    data-toggle="modal" data-target="#add-post-modal" readonly>
                            </div>
                        </div>
                        <div id="new-post"></div>
                        <!-- Modal -->
                        <div class="modal fade" id="add-post-modal" tabindex="-1" role="dialog"
                            aria-labelledby="add-post-modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="add-post-modalLabel">
                                            Tạo bài viết
                                        </h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="form-post" enctype="multipart/form-data" method="post">
                                        <div id="authur-post">
                                            <a href="#">
                                                <img class="mr-2"
                                                    src="<%=user.avatar%>"
                                                    width="40" height="40">
                                                <span class="card__username"><%=user.name%></span>
                                            </a>
                                        </div>
                                        <div class="modal-body">
                                            <span id="errorStatus" class="error-input"></span>
                                            <textarea placeholder="<%=user.name%> ơi ! Bạn đang nghĩ gì thế ?"class="form-control" id="post-content" rows="5"
                                                name="description"></textarea>
                                            <br><span>Thêm ảnh hoặc video:</span>
                                            <br>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="radio1">
                                                    <input type="radio" class="form-check-input" id="imageRadio"
                                                        name="optionAddpost" value="option1" checked>Ảnh
                                                </label>
                                            </div>
                                            <div class="form-check-inline">
                                                <label class="form-check-label" for="radio2">
                                                    <input type="radio" class="form-check-input" id="videoRadio"
                                                        name="optionAddpost" value="option2">Video
                                                </label>
                                            </div><br>
                                            <div id="radioCheck">
                                                <div id="post-img" class="custom-file mb-3">
                                                    <input type="file" class="custom-file-input" id="post-image"
                                                        name="image">
                                                    <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                                                    <span id="errorImg" class="error-input"></span>
                                                </div>
                                                <input type="hidden" class="form-control" id="post-video" name="video"
                                                    placeholder="Nhập link youtube">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary">Đăng</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="load_data"></div>
                    <div id="load_data_message"></div>
                </div>
            </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>
</html>