<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav.ejs') %>
                <section class="main">
                    <div class="main-left">
                        <h3>Danh Mục</h3>
                        <div class="main-left-item">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Trang Chủ
                            </a>
                        </div>
                        <div class="main-left-item">
                            <a href="/profile/<%=user._id%>">
                                <i class="fas fa-user"></i>
                                Trang Cá Nhân
                            </a>
                        </div>
                        <% if (user.role==1) { %>
                            <div class="main-left-item">
                                <a href="/admin">
                                    <i class="fas fa-user"></i>
                                    Quản lí tài khoản
                                </a>
                            </div>
                            <% } %>
                                <div class="main-left-item notification-bar active">
                                    <div class="notification-direction">
                                        <i class="fas fa-bell"></i>
                                        Thông Báo
                                    </div>
                                    <div class="notification-dropdown">
                                        <i class="fas fa-chevron-up"></i>
                                        <div class="notification-dropdown-menu">
                                            <div class="faculty-notify notification-dropdown-item">
                                                <i class="fas fa-users"></i>
                                                Theo Đơn Vị
                                            </div>
                                            <div class="all-notify notification-dropdown-item">
                                                <i class="fas fa-bell"></i>
                                                Tất Cả Thông Báo
                                            </div>
                                            <% if (user.role==2) { %>
                                                <div class="add-notify notification-dropdown-item">
                                                    <i class="fas fa-plus"></i>
                                                    Thêm thông báo
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="main-center main-notification-center">
                        <div class="main-center-item">
                            <h2 class="text-info">
                                <%= notification.title %>
                            </h2>
                            <div class="text-right">
                                <% if (user.email===notification.user_email) { %>
                                    <a class="edit-noti text-danger" id="delete-notify"
                                        href="/notification/delete-notification/<%=notification._id%>">
                                        <i class="fas fa-trash"></i>
                                        Xóa
                                    </a>
                                    <a class="edit-noti text-primary"
                                        href="/notification/edit-notify/?_id=<%=notification._id%>">
                                        <i class="fas fa-edit"></i>
                                        Sửa
                                    </a>
                                    <%} %>
                                        <a href="/notification/<%= notification.faculty %>" class="text-info">[<span
                                                class="user-faculty">
                                                <%= notification.faculty %>
                                            </span>]</a>
                                        - <span class="time-convert">
                                            <%= notification.createdAt %>
                                        </span>
                            </div>
                        </div>
                        <div class="main-center-item">
                            <% notification.content.forEach(ct=> { %>
                                <% if (ct.type=="header" ) { %>
                                    <h<%=ct.data.level%> class="ce-header"><%=ct.data.text%></h<%=ct.data.level%>>
                                <% } else if (ct.type=="paragraph" ) { %>
                                    <div class="ce-paragraph cdx-block">
                                            <%=ct.data.text%>
                                    </div>
                                <% } else if (ct.type=="list" ) { %>
                                    <% if (ct.data.style=="ordered" ) {%>
                                        <% if (ct.data.items) { %>
                                            <ol class="cdx-block cdx-list cdx-list--ordered">
                                                <% ct.data.items.forEach(function(item) { %>
                                                    <li class="cdx-list__item">
                                                        <%=item%>
                                                    </li>
                                                <% }) %>
                                            </ol>
                                        <% } %>
                                    <% } else { %>
                                        <% if (ct.data.items) { %>
                                            <ul class="cdx-block cdx-list cdx-list--unordered">
                                                <% ct.data.items.forEach(function(item) { %>
                                                    <li class="cdx-list__item">
                                                        <%=item%>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        <% } %>
                                    <% } %>
                                <% } else if (ct.type=="table" ) { %>
                                    <table class="table table-bordered table-bordered-custom">
                                        <% ct.data.content.forEach(function (trText, index) { %>
                                            <tr>
                                                <% trText.forEach(function (tdText) { %>
                                                    <% if (ct.data.withHeadings==true && index == 0) {%>
                                                        <th><%= tdText%></th>
                                                    <% } else {%>
                                                        <td><%= tdText%></td>
                                                    <% }%>
                                                <%  }) %>
                                            </tr>
                                        <% }) %>
                                    </table>
                                <%}%>
                            <% }) %>
                        </div>
                    </div>

                </section>
        </div>
        <div id="loading">
            <img src="/image/loading.svg" />
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="/javascripts/main.js"></script>

    </html>