<%- include('./layouts/head.ejs') %>

    <body>
        <div class="wrapper">
            <%- include('./layouts/nav.ejs') %>
                <section class="main">
                    <div class="main-left">
                        <h3>Danh Mục</h3>
                        <div class="main-left-item">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                Trang Chủ
                            </a>
                        </div>
                        <div class="main-left-item">
                            <a href="/profile/<%=user._id%>">
                                <i class="fas fa-user"></i>
                                Trang Cá Nhân
                            </a>
                        </div>
                        <% if (user.role==1) { %>
                            <div class="main-left-item">
                                <a href="/admin">
                                    <i class="fas fa-user"></i>
                                    Quản lí tài khoản
                                </a>
                            </div>
                            <% } %>
                                <div class="main-left-item notification-bar active">
                                    <div class="notification-direction">
                                        <i class="fas fa-bell"></i>
                                        Thông Báo
                                    </div>
                                    <div class="notification-dropdown">
                                        <i class="fas fa-chevron-up"></i>
                                        <div class="notification-dropdown-menu">
                                            <div class="faculty-notify notification-dropdown-item">
                                                <i class="fas fa-users"></i>
                                                Theo Phòng Ban
                                            </div>
                                            <div class="all-notify notification-dropdown-item">
                                                <i class="fas fa-bell"></i>
                                                Tất Cả Thông Báo
                                            </div>
                                            <% if (user.role==2) { %>
                                                <div class="add-notify notification-dropdown-item">
                                                    <i class="fas fa-plus"></i>
                                                    Thêm thông báo
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div class="main-center main-notification-center">
                        <div class="main-center-item">
                            <h2 class="text-info">
                                <%= notification.title %>
                            </h2>
                            <div class="text-right">
                                <a href="/notification/<%= notification.faculty %>" class="text-primary">[<span
                                        class="user-faculty">
                                        <%= notification.faculty %>
                                    </span>]</a>
                                - <span class="time-convert">
                                    <%= notification.createdAt %>
                                </span>
                            </div>
                        </div>
                        <div class="main-center-item faculty-list">
                            <div>
                                <% notification.content.forEach(ct=> { %>
                                    <% if (ct.type=="header" ) { %>
                                        <h<%=ct.data.level%> class="ce-header"><%=ct.data.text%>
                                        </h<%=ct.data.level%>>
                                        <% } else if (ct.type=="paragraph" ) { %>
                                            <div class="ce-paragraph cdx-block">
                                                <%=ct.data.text%>
                                            </div>
                                            <% } else if (ct.type=="list" ) %>
                                                <% if (ct.data.style=="ordered" ) {%>
                                                    <% if (ct.data.items) { %>
                                                        <ol class="cdx-block cdx-list cdx-list--ordered">
                                                            <% ct.data.items.forEach(function(item) { %>
                                                                <li class="cdx-list__item">
                                                                    <%=item%>
                                                                </li>
                                                                <% }) %>
                                                        </ol>
                                                        <% } %>
                                                            <% } else { %>
                                                                <% if (ct.data.items) { %>
                                                                    <ul class="cdx-block cdx-list cdx-list--unordered">
                                                                        <% ct.data.items.forEach(function(item) { %>
                                                                            <li class="cdx-list__item">
                                                                                <%=item%>
                                                                            </li>
                                                                            <% }) %>
                                                                    </ul>
                                                                    <% } %>

                                                                        <% } %>
                                                                            <% }) %>

                            </div>
                        </div>
                        <div class="main-center-item notification-pagination">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </section>
        </div>
        <div id="loading">
            <img src="/image/loading.svg" />
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="/javascripts/main.js"></script>

    </html>